.testBody {
    background-color: blue;
    color: aliceblue;
}

.container, footer {
   text-align: center;
   padding-top: 10rem;
}

#testHead {
    color: red;
    text-align: center;
    padding-top: 5rem;
}

#appLink {
    color: rebeccapurple;
}

#appLink:hover {
    color: yellowgreen;
}

